<body>
  <div class="didyouknow">
    <div class="header">
      <h1>DID YOU KNOW?</h1>
      <h6>OUR CAFE SERVICES</h6>
    </div>
    <div class="grid-container">
      <div>
        <i class="fa-solid fa-medal"></i>
        <p>best quality food</p>
      </div>
      <div>
        <i class="fa-solid fa-truck"></i>
        <p>home delivery</p>
      </div>
      <div>
        <i class="fa-solid fa-clock"></i>
        <p>sunday - saturday <br />7:00 am - 10:00 pm</p>
      </div>
      <div>
        <i class="fa-solid fa-location-pin"></i>
        <p>located in pune</p>
      </div>
    </div>
  </div>
</body>
