<body>
  <div class="footer">
    <p>
      Copyright © 2023 Only Keema. All Rights Reserved<br />
      Developed By Aditya Kumawat.
    </p>
    <div class="socialmedia">
      <a href="#" class="fa fa-brands fa-facebook"></a>
      <a href="#" class="fa fa-brands fa-instagram"></a>
    </div>
  </div>
</body>
