<%- include("partials/header") %>

<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="grey"></div>
      <img src="/images/bg4.jpg" class="d-block" alt="..." />
      <div class="imgContent">
        <h2 class="abouth2" style="font-size: 50px">ABOUT US</h2>
        <h5 class="abouth5" style="font-size: 30px">Only Keema</h5>
      </div>
    </div>
  </div>
</div>

<!-- about us -->
<div class="special about">
  <h1>Our Story</h1>
  <p>
    <i
      >This place is an ideal place for students and employees to release
      stress. As I made my way through the transparent glass door, a blanket of
      warm air hit me and the rich aroma of coffee which was delectable. The
      noise the customers made was immense which reminded me how popular a place
      this is.</i
    ><br />
    <i
      >It was a beautiful custom. When a person who had a break of good luck
      entered a cafe and ordered a cup of coffee, he didn't pay just for one,
      but for two cups, allowing someone less fortunate who entered later to
      have a cup of coffee for free.
    </i>
  </p>
</div>

<%- include("partials/didYouKnow") %> <%- include("partials/footer") %>
