<%- include("partials/header") %>

<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="grey"></div>
      <img src="/images/bg4.jpg" class="d-block" alt="..." />
      <div class="imgContent">
        <h2 class="abouth2" style="font-size: 50px">CONTACT US</h2>
        <h5 class="abouth5" style="font-size: 30px">Only Keema</h5>
      </div>
    </div>
  </div>
</div>

<!-- about us -->
<div class="special new">
  <div class="contact">
    <div>
      <i class="i">Dhole Patil Road Branch</i>
      <hr />
      <h5>
        173, Balkrishna Sakharam Dhole Patil Rd, opposite Kapila Business Hotel,
        Sangamvadi, Pune, Maharashtra 411011.
      </h5>
    </div>
    <div>
      <i class="i">Email Us</i>
      <hr />
      <h5>onlykeema@gmail.com</h5>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15131.482133576697!2d73.86767122718919!3d18.534751798410273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c142455783b5%3A0x60fd3323e03a04d9!2sOnly%20Keema!5e0!3m2!1sen!2sin!4v1676831316720!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<%- include("partials/footer") %>
