<%-include("partials/header")%>
<hr />
<div class="special">
  <h1 style="padding: 2px">Gallery</h1>
  <div class="row">
    <div class="column">
      <img src="images/gallery/g6.jpg" style="width: 100%" />
      <img src="images/gallery/g2.jpg" style="width: 100%" />
      <img src="images/gallery/g3.jpg" style="width: 100%" />
      <img src="images/gallery/g4.jpg" style="width: 100%" />
      <img src="images/gallery/g1.jpg" style="width: 100%" />
    </div>
    <div class="column">
      <img src="images/gallery/g5.jpg" style="width: 100%" />
      <img src="images/gallery/g8.jpg" style="width: 100%" />
      <img src="images/gallery/g7.jpg" style="width: 100%" />
    </div>
    <div class="column">
      <img src="images/gallery/g1.jpg" style="width: 100%" />
      <img src="images/gallery/g9.jpg" style="width: 100%" />
      <img src="images/gallery/g10.jpg" style="width: 100%" />
      <img src="images/gallery/g6.jpg" style="width: 100%" />
    </div>
    <div class="column">
      <img src="images/gallery/g11.jpg" style="width: 100%" />
      <img src="images/gallery/g12.jpg" style="width: 100%" />
      <img src="images/gallery/g13.jpg" style="width: 100%" />
    </div>
  </div>
</div>

<!-- footer -->
<%-include("partials/footer")%>
