<%-include("partials/header")%>

<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <div class="grey"></div>
      <img src="/images/bg1.jpg" class="d-block" alt="..." />
      <div class="imgContent">
        <h5>Welcome to!</h5>
        <h2>ONLY KEEMA</h2>
        <a href="contact"><button class="order">ORDER NOW</button></a>
        <a href="contact"><button>CONTACT US</button></a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="grey"></div>
      <img src="/images/bg4.jpg" class="d-block w-100 h-100" alt="..." />
      <div class="imgContent">
        <h5>Welcome to!</h5>
        <h2>ONLY KEEMA</h2>
        <a href="contact"><button class="order">ORDER NOW</button></a>
        <a href="contact"><button>CONTACT US</button></a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="grey"></div>
      <img src="/images/bg5.jpg" class="d-block w-100 h-100" alt="..." />
      <div class="imgContent">
        <h5>Welcome to!</h5>
        <h2>ONLY KEEMA</h2>
        <a href="contact"><button class="order">ORDER NOW</button></a>
        <a href="contact"><button>CONTACT US</button></a>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- special -->
<%-include("partials/special")%>

<!-- did you know -->
<%-include("partials/didYouKnow")%>

<!-- about us -->
<div class="special about">
  <h1>ABOUT US</h1>
  <h4>Our Story</h4>
  <p>
    <i
      >This place is an ideal place for students and employees to release
      stress. As I made my way through the transparent glass door, a blanket of
      warm air hit me and the rich aroma of coffee which was delectable. The
      noise the customers made was immense which reminded me how popular a place
      this is.</i
    ><br />
    <i
      >It was a beautiful custom. When a person who had a break of good luck
      entered a cafe and ordered a cup of coffee, he didn't pay just for one,
      but for two cups, allowing someone less fortunate who entered later to
      have a cup of coffee for free.
    </i>
  </p>
</div>

<!-- footer -->
<%-include("partials/footer")%>
