<%-include("partials/header")%>
<hr />
<div class="special">
  <h1 style="padding: 2px">MENU OPTIONS</h1>
  <ul>
    <li>
      <div><img src="images/bg1.jpg" alt="" /></div>
      <div class="menutext">
        <p>chicken keema roll</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg2.jpg" alt="" /></div>
      <div class="menutext">
        <p>dal khichadi</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg3.jpg" alt="" /></div>
      <div class="menutext">
        <p>paneer keema roll</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg6.jpg" alt="" /></div>
      <div class="menutext">
        <p>chicken keema sandwich</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg4.jpg" alt="" /></div>
      <div class="menutext">
        <p>paneer momos</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg8.jpg" alt="" /></div>
      <div class="menutext">
        <p>masala cheese omlet</p>
        <i>Only Keema</i>
      </div>
    </li>

    <li>
      <div><img src="images/bg7.jpg" alt="" /></div>
      <div class="menutext">
        <p>chicken sandwich</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg5.jpg" alt="" /></div>
      <div class="menutext">
        <p>chicken momos</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg9.jpg" alt="" /></div>
      <div class="menutext">
        <p>special sandwich</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg1.jpg" alt="" /></div>
      <div class="menutext">
        <p>chicken keema roll</p>
        <i>Only Keema</i>
      </div>
    </li>
    <li>
      <div><img src="images/bg2.jpg" alt="" /></div>
      <div class="menutext">
        <p>dal khichadi</p>
        <i>Only Keema</i>
      </div>
    </li>
  </ul>
</div>

<!-- footer -->
<%-include("partials/footer")%>
